.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/proyectoma-5e2f6.appspot.com/o/badbunny.jpg?alt=media&token=71c2e196-2c9c-4ec4-8566-bf230e1ce0f4');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 30% 20%
}